{% extends "tasks/base.html" %}

{% block content %}
  <h1>DevFlow Dashboard</h1>

  <h2>Statistics</h2>

  <ul>
    <li>
      <a href="{% url 'tasks:worker-list' %}">
        Workers: {{ num_workers }}
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:team-list' %}">
        Teams: {{ num_teams }}
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:tasktype-list' %}">
        Task Types: {{ num_task_types }}
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:task-list' %}">
        Tasks: {{ num_tasks }}
      </a>
    </li>
  </ul>

  <hr>

  <h2>Quick Actions</h2>

  <ul>
    <li>
      <a href="{% url 'tasks:task-create' %}">
        Create Task
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:worker-create' %}">
        Create Worker
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:tasktype-create' %}">
        Create Task Type
      </a>
    </li>

    <li>
      <a href="{% url 'tasks:team-create' %}">
        Create Team
      </a>
    </li>
  </ul>
{% endblock %}
